[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/rafalfaro18/kickstart.nvim.git
[submodule "nvim-testing/.config/nvim-testing"]
	path = nvim-testing/.config/nvim-testing
	url = https://github.com/rafalfaro18/nvim-testing.git
[submodule "rofi/.config/rofi"]
	path = rofi/.config/rofi
	url = https://github.com/w8ste/Tokyonight-rofi-theme.git
[submodule "suckless/dwl"]
	path = suckless/dwl
	url = https://github.com/rafalfaro18/dwl.git
